<div class="login-wrapper w-full flex flex-col gap-6">
  <lib-paragraph [header]="'forgetPassword.title' | translate"
    [descriptionBeforeLink]="'forgetPassword.subtitle' | translate" />

  <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">

    <div class="form-field">
      <lib-input type="email" formControlName="email"
        [label]="'forgetPassword.emailLabel' | translate" placeholder="********" />
    </div>


    <div class="w-full mt-2">
      <lib-button type="submit" [label]="'forgetPassword.submitButton' | translate" [loading]="isLoading()"
        [disabled]="form().invalid || isLoading()" [color]="isDark() ? '#FFA6B9' : '#8D1C24'"
        styleClass="w-full py-3 text-base font-semibold" />
    </div>

  </form>

  <div class="divider border-b border-gray-200 w-full"></div>

  <div class="footer-container">
    <lib-question-repeat [question]="'forgetPassword.noAccount' | translate"
      [answer]="'forgetPassword.createAccount' | translate" [routerLink]="['/auth/register']" />
  </div>

</div>